/* Button Bar */
:focus {
    outline-color: transparent;
    outline-style: none;
}


.button-bar,
.topcoat-button-bar {
    display: table;
    table-layout: fixed;
    white-space: no-wrap;
    margin: 0;
    padding: 0;
}

.topcoat-button-bar__item {
    display: table-cell;
    width: auto;
    border-radius: 0;
}

.topcoat-button-bar > .topcoat-button-bar__item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.topcoat-button-bar > .topcoat-button-bar__item:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.button,
.topcoat-button-bar__button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    background-clip: padding-box;
    color: inherit;
    vertical-align: top;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: inherit;
    cursor: default;
    user-select: none;
}

.topcoat-button-bar__button {
    padding: 0 1.25rem;
    border: 1px solid #a5a8a8;
    /* Important inheritance to manipulate border radius from parent */
    border-radius: inherit;
    background-color: #e5e9e8;
    -webkit-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    color: #454545;
    text-shadow: 0 1px #fff;
    line-height: 3rem;
}

:checked + .topcoat-button-bar__button,
.topcoat-button-bar__button:active,
.topcoat-button-bar__button.is-active {
    background-color: #d3d7d7;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
    box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.topcoat-button-bar__item:disabled,
.topcoat-button-bar__item.is-disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.topcoat-button-bar__button:focus {
    border: 1px solid #0940fd;
    -webkit-box-shadow: 0 0 0 2px #6fb5f1;
    box-shadow: 0 0 0 2px #6fb5f1;
    z-index: 1;
}


