.range-input,
.topcoat-range-input,
.topcoat-range-input--vertical {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    -webkit-appearance: none;
}


/*
  Declarations get duplicated because an invalid selector
  invalidates the entire declaration block
*/

.range-input::-webkit-slider-thumb,
.topcoat-range-input::-webkit-slider-thumb,
.topcoat-range-input--vertical::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
}

.range-input::-moz-range-thumb,
.topcoat-range-input::-moz-range-thumb,
.topcoat-range-input--vertical::-moz-range-thumb {
    cursor: pointer;
}

.topcoat-range-input,
.topcoat-range-input--vertical {
    border-radius: 6px;
    border: 1px solid #a5a8a8;
    background: #d3d7d7;
    height: 1rem;
    border-radius: 30px;
}

.topcoat-range-input::-moz-range-track,
.topcoat-range-input--vertical::-moz-range-track {
    border-radius: 6px;
    border: 1px solid #a5a8a8;
    background: #d3d7d7;
    height: 1rem;
    border-radius: 30px;
}

/*
  Declarations get duplicated because an invalid selector
  invalidates the entire declaration block
*/

.topcoat-range-input::-webkit-slider-thumb,
.topcoat-range-input--vertical::-webkit-slider-thumb {
    height: 3rem;
    width: 2rem;
    border: 1px solid rgba(0,0,0,0.36);
    border-radius: 6px;
    /* Is base64 the way to go ? */
    /* I don't imagine simulating vertical stripes w/ gradients */ background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
    background-size: 7px 18px;
    box-shadow: inset 0 1px white;
}

.topcoat-range-input::-moz-range-thumb,
.topcoat-range-input--vertical::-moz-range-thumb {
    height: 3rem;
    width: 2rem;
    border: 1px solid rgba(0,0,0,0.36);
    border-radius: 6px; background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
    background-size: 7px 18px;
    box-shadow: inset 0 1px white;
}

.topcoat-range-input--vertical {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}

/*
  Active state
*/

.topcoat-range-input:active::-webkit-slider-thumb,
.topcoat-range-input--vertical:active::-webkit-slider-thumb {
    border: 1px solid #0940fd;
    box-shadow: 0 0 0 2px #6fb5f1;
}

input[type=range]:active::-moz-range-thumb {
    border: 1px solid #0940fd;
    box-shadow: 0 0 0 2px #6fb5f1;
}
